<div id="about">
    <div class="ui centered grid">
        <div class="six wide tablet ten wide computer column">
            <div class="ui piled segment">
                <h2 class="ui header">About</h2>
                <h3>Time Capsul is like a normal time capsule…</h3><h4>
                Expect it is not buried in the ground, but in the cloud...
                And it doesn’t go offline…
                And it is always updating and backfilling…
                <br>
                I guess it’s not a time capsule at all</h4>

                <h3>What it Actually is:</h3>
                <blockquote>
                    Time Capsul is cloud base platform for <strong>publicly</strong> documenting the world around us and
                    what it once was.
                    TimeCapsul asks its users to upload images from photo albums, frames, and even their phones. Then
                    combine the images with a description to tell a story.
                    By combining everyone’s history and heritage we can remember where we came from, explore new
                    locations and their history, and as a community document a more accurate past.
                    <br>
                    <br>
                    <a href="" onclick="scrollUp()">Join us</a> <!-- at [timecapsul.me/](http://timecapsul.me/) -->
                </blockquote>
            </div>
        </div>
    </div>
</div>
<script>
    var scrollUp = function () {
        $('html, body').animate({
            scrollTop: $("#landingPage").offset().top
        }, 1000);
    };
</script>
