<div id="picView" class="inner-module" ng-controller="capsuleController">
    <div class="ui container">
                <h1>{{cityName}}
                    <small>Capsule</small>
                </h1>
                <div class="heading-underline"></div>
            <br>
            <a class="section" ng-click="jumpToDash()">Dashboard</a>
        <div class="ui container">
            <div class="ui centered grid">
                <div class="ui centered special cards">
                    <div class="three wide computer two wide tablet" ng-repeat="img in cityImages">
                        <div class="ui card">
                            <div class="blurring dimmable pic-card">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <h4>{{img.Description}}</h4>
                                            <!--<div class="ui inverted button">Go</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <img ng-src="{{img.Path}}">
                                </div>
                            </div>
                            <div class="content">
                                <div class="header">{{img.Title}}</div>
                            </div>
                            <div class="extra content">
                              <span class="right floated">
                                Photo Taken in {{img.Year}}
                              </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
