<div id="dashboard" class="inner-module" ng-controller="dashboardController">
<div class="ui container">
    <h1>Dashboard</h1>
    <div class="heading-underline"></div>
    <div class="ui centered grid icon-buttons">
        <div class="two wide column computer only"><!-- spacer--></div>
        <div class="centered five wide computer twelve wide tablet column middle aligned">
            <hover-icon-card
                    hover-content="Explore your Surroundings"
                    iconexpression="['map']"
                    content="Current Location"
                    callfunction="redirectFunction('/capsule')"

            ></hover-icon-card>
        </div>
        <div class="one wide column computer only"><!-- spacer--></div>
        <div class="centered five wide computer twelve wide tablet column middle aligned">
            <hover-icon-card
                    hover-content="Hop on a Plane to Explore other areas"
                    iconexpression="['plane']"
                    callfunction="launchLogin()"
                    content="Travel"
            ></hover-icon-card>
        </div>
        <div class="two wide column computer only"><!-- spacer--></div>
    </div>
    <div class="ui centered grid icon-buttons">
        <div class="two wide column computer only"><!-- spacer--></div>
        <div class="centered five wide computer twelve wide tablet column middle aligned">
            <hover-icon-card
                    hover-content="Upload and Tag images to Fill in gaps"
                    iconexpression="['cloud', 'upload']"
                    callfunction="launchUpload()"
                    content="Upload Images"
            ></hover-icon-card>
        </div>
        <div class="one wide column computer only"><!-- spacer--></div>
        <div class="centered five wide computer twelve wide tablet column middle aligned">
            <hover-icon-card
                    hover-content="Travel to new Lands"
                    iconexpression="['world']"
                    callfunction="exploreRandom()"
                    content="Random"
            ></hover-icon-card>
        </div>
        <div class="two wide column computer only"><!-- spacer--></div>
    </div>
</div>
</div>
<city-input></city-input>
<script>$('#dashboard').height(Math.max($('#faqs .container').height(), $('#dashboard').height()));</script>