<div class="container" id="landingPage" ng-controller="landingController">
    <div class="ui centered grid name">
        <div class="ten wide computer twelve wide tablet column">
            <h2 class="siteName">Time Capsule</h2>
        </div>
    </div>
    <div class="ui centered grid ">
        <div class="four wide column">
            <div class="ui large fluid buttons">
                <button class="ui inverted button" ng-click="scrollDown()">Learn More</button>
                <div class="or"></div>
                <button class="ui inverted green button" ng-click="launchLogin()">Get Started</button>
            </div>
        </div>
    </div>
</div>