/*Overall attributes*/
/**{*/
    /*color: #FFFFFF;*/
/*}*/

body {
    font-family: 'Montserrat', sans-serif;
}

h2.siteName{
    font: 400 125px/1.3 'Arizonia', Helvetica, sans-serif;
    /*color: #2b2b2b;*/
    color: #e1e1e1;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    text-align: center;
}

h3.siteName {
    font: 400 36px/1.3 'Arizonia', Helvetica, sans-serif;
    color: #2b2b2b;
    /*color: #e1e1e1;*/
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    /*text-align: center;*/
    margin-top: 0;
}

h2.siteName:hover {
    /*color: #e1e1e1;*/
}

.remove.icon.cancel {
    font-size: 1.5em;
    padding: .3em;
}

/** Landing Page **/
div.centered.name {
    padding-top: 23vh;
    padding-bottom: 8vh;
}

#landingPage{
    height: 110vh;
    background: url('/images/tiles/grey_wash_wall.png') repeat center center ;
}

#about {
    padding:30vh 0 80vh 0 ;
    height: 28vh;
    /*z-index: -100;*/
    background-color: #e1e1e1;
}

.ui.piled.segment {
    z-index: 5;
    min-height: 20vh;
    padding: 6vh 3vw 8vh;
}
#login-modal .sub.header{
    padding-bottom: 1em;
}

.inner-module{
    height: 110vh;
    background: url('/images/tiles/retina_wood.png') repeat center center ;
}

#dashboard .special.cards {
    padding-top: 7vh;
}

.inner-module .container {
    padding-top: 3em;
}

.heading-underline {
    max-width: 70px;
    height: 5px;
    /*background: #FFFFFF;*/
    background: #2b2b2b;
}

#picView .ui.cards a.card, #picView .ui.link.card, #picView .ui.link.cards .card, #picView a.ui.card {
    /*max-width: 20vw;*/
    /*overflow: hidden;*/
    /*max-height: 20vh;*/
}

#picView .ui.cards img {
    max-width: 100%;
    overflow: hidden;
    max-height: 30vh;;
}

#picView .ui.card {
    margin: .3em;
}

.grid.ui.cards, .grid-item .ui.card {
    display: inline-block;
    text-align: center;
    max-width:300px;
}

.grid:after {
    /*content: '';*/
    display: block;
    clear: both;
}

.grid-item {
    float:left;

}
/* Upload*/
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

#uploadForm {
    margin-top: 6vh;
}

.previewImg{
    width:210px;
    margin:3vh auto 3.7vh;
}